table {
    table-layout: fixed;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 7px;
}

body {
    font-family: 'JetBrains Mono', serif;
    background-image: url("BB.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

td, th {
    width: 100px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    color: aliceblue;
}

/* Один класс для всех ячеек с элементами */
.element {
    background-color: darkolivegreen;
    color: white;
    font-size: 50px;
    font-weight: 700;
}

/* Один класс для всех названий под символом */
.name {
    display: block;
    font-size: 11px;
    color: white;
}

.num {
    display: block;
    font-size: 13px;
    text-align: right; /* номер в правом углу, как в настоящей таблице */
    font-weight: 400; /* не жирный, в отличие от символа */
}
